/* href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
  
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

.animate-progree {
  animation: progress 2s linear forwards;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
   font-family: 'Poppins', sans-serif;
}
